<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo(a)!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistemas para exemplificar a construção de um cadastro em Angular com criação de produto, edição e exclusão.
        Aplicação com Frontend e Backend local.
    </mat-card-subtitle>
    <ul class="passos">
        <li>1º passo: Criação de produto na aba Navegar;</li>
        <li>2º passo: Edição de valor ou nome produto n ícone Editar;</li>
        <li>3º passo: Exclusão do Produto no ícone Excluir (faz a remoção do Backend local);</li>
    </ul>
</mat-card>
